{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
    {{ include('@FOSUser/Security/login_content.html.twig') }}

    <p><a href="{{ path('fos_user_resetting_request') }}">I forgot my password</a></p>
{% endblock fos_user_content %}
